@import "styles";

.post {
  display: flex;
  flex-direction: row;
  max-height: 150px;
  padding: $size-4 $size-8;
  @include box-styling;

  &__image {
    cursor: pointer;
    height: auto;
    min-width: 150px;
    width: 150px;
  }

  &__links-and-text {
    padding: 0 $size-8;
  }

  &__title {
    cursor: pointer;
    text-decoration: underline;
    color: rgb(0, 0, 238);
    padding: 5px;
    font-size: $font-size-14;
    font-weight: bold;
  }

  &__links-panel {
    display: block;

    @media (min-width: $breakpoint) {

      display: flex;
      flex-direction: row;
    }
  }

  &__author {
    order: 0;
    padding: 5px;
  }

  &__publication-date {
    order: 1;
    display: block;
    padding: 5px;
  }

  &__post-on-flickr {
    order: 2;
    padding: 5px;
  }
}
