//colors
$color-primary: #005486;
$color-secondary: #e4f3ff;
$color-secondary-disabled: #232e3bd9;
$color-grey: #e0e0e0;
$color-light-grey: #f1f1f1;
$color-black: #000000;
$color-white: #fff;

//borders
$border-light-grey: 1px solid $color-grey;
$border-radius: 4px;

//size
$size-4: 4px;
$size-8: 8px;
$size-12: 12px;
$size-16: 16px;

//font-size
$font-size-8: 8px;
$font-size-12: 12px;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-base: $font-size-14;


//breakpoints
$breakpoint: 800px;

@mixin box-styling {
  margin: $size-4 $size-8;
  padding: $size-12;
  border: $border-light-grey;
}
