@import "styles";

body {
  margin: 0;
  padding: 0;
  font-family: "Verdana", "Times New Roman", sans-serif;
  font-size: $font-size-base;
  text-align: left;
  line-height: 1.3;
  min-height: 100vh;
  color: rgba(0, 0, 0, 0.87);
  background-color: $color-white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  &:visited {
    color: rgb(0, 0, 238);
  }
}

button,
input {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  background-color: inherit;
}

h1 {
  font-size: 1.5rem; //font-size: 24px;
}

h2 {
  font-size: 1.25rem; //font-size: 20px;
}

h3 {
  font-size: 1rem; //font-size: 16px;
  font-weight: 400;
}

h4 {
  font-size: 0.875rem; //font-size: 14px;
  font-weight: 400;
}

h5 {
  font-size: 0.75rem; //font-size: 12px;
  font-weight: 400;
}
